# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python
*.pyw text diff=python
*.pyx text diff=python
*.pxd text diff=python

# Web files
*.css text diff=css
*.html text diff=html
*.js text
*.json text
*.scss text diff=css

# Template files
*.jinja text
*.jinja2 text
*.j2 text

# Static files should be treated as binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.svg text

# Database files
*.db binary
*.sqlite binary
*.sqlite3 binary

# Documents
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary

# Created by GitHub Copilot
# Date: July 19, 2025
