* text=auto

*.py text diff=python
*.pyw text diff=python
*.pyx text diff=python
*.pxd text diff=python

*.css text diff=css
*.html text diff=html
*.js text
*.json text
*.scss text diff=css

*.jinja text
*.jinja2 text
*.j2 text

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.svg text

*.db binary
*.sqlite binary
*.sqlite3 binary

*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
