body {
  margin: 0;
  padding: 0;
}

.fundo {
  background-image: url("images/fundo_home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.conteudo-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: translateY(-40px);
}

.logo {
  width: 300px;
}

.botao-classico {
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
