body {
  margin: 0;
  padding: 0;
}

.fundo {
  background-image: url("images/fundo_home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.conteudo-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: translateY(-40px);
}

.logo {
  width: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.botao-classico {
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

.conteudo-classico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 80vh;
  padding: 20px;
  text-align: center;
  padding-top: 50px;
}

.conteudo-classico h1 {
  color: white;
  margin-bottom: 20px;
}

.conteudo-classico form {
  margin-bottom: 20px;
}

.conteudo-classico label {
  color: white;
  margin-bottom: 10px;
  display: block;
}

.conteudo-classico input {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  width: 250px;
}

.conteudo-classico button {
  padding: 10px 20px;
  margin: 10px;
}

.resultado-mensagem {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px 0;
  display: inline-block;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
