{% extends 'base.html' %} {% block body %}
<!-- pagina inicial com selecao de modos -->
<div class="conteudo-home">
  <!-- botao modo classico -->
  <div class="botao-classico">
    <a href="{{ url_for('.classico') }}">
      <div class="icone">
        <img
          src="{{ url_for('static', filename='images/bola.png') }}"
          alt="bola futdle"
        />
      </div>
      <span>Clássico</span>
    </a>
  </div>

  <!-- botao modo escudo -->
  <div class="botao-escudo">
    <a href="{{ url_for('.escudo') }}">
      <div class="icone">
        <img
          src="{{ url_for('static', filename='images/bola_escudo.png') }}"
          alt="bola escudo futdle"
        />
      </div>
      <span>Escudo</span>
    </a>
  </div>
</div>
{% endblock %}
